<app-header></app-header>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-md-1 mt-3 mb-3">
                <div class="row btn_row">
                    <button id="ad1" routerLink="/add_user" ><i class="fa fa-plus"></i>&nbsp;Add User</button>
                </div>
                <div class="row heading">
                    <h4>Users List</h4>
                </div>
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
                    <tbody>
                    <tr *ngFor="let tabledata of datatable;index as i">
                      <td>{{i + 1}}</td>
                      <td><div>{{tabledata.name }}</div></td>
                      <td>{{tabledata.phonenumber }}</td>
                      <td>{{tabledata.address}}</td>
                      <td>{{tabledata.city}}</td>
                      <td>{{tabledata.state}}</td>
                      <td>
                       
                          <i class="fa fa-trash delClass" id="{{tabledata._id}}"></i>
                     
                    </td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
