<app-header></app-header>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-4 offset-md-4">
                <div class="row justify-content-md-center mt-5">
                    <h4>EDIT YOUR DETAILS HERE !!</h4>
                </div>
                <div class="card">
                    <div class="form text-center">
                        <form name="editform" id="editform" #editform="ngForm" (ngSubmit)="editform.valid" method="post" role="form">
                            <div class="form-content">
                                <div class="form-group">
                                    <input type="text" name="name" [(ngModel)]="editedvalue.name" class="form-control input-underline input-lg" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" required=""  placeholder="name">
                                    <div *ngIf="name.errors && (name.valid || name.touched)">
                                        <small *ngIf="name.errors.required" class="text-danger">Please enter name</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="address" [(ngModel)]="editedvalue.address" class="form-control input-underline input-lg" #address="ngModel" [class.is-invalid]="address.invalid && address.touched" required=""  placeholder="address">
                                    <div *ngIf="address.errors && (address.valid || address.touched)">
                                        <small *ngIf="address.errors.required" class="text-danger">Please enter address</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="number" name="phonenumber" [(ngModel)]="editedvalue.phonenumber" class="form-control input-underline input-lg" #phonenumber="ngModel" [class.is-invalid]="phonenumber.invalid && phonenumber.touched" required=""  placeholder="phonenumber">
                                    <div *ngIf="phonenumber.errors && (phonenumber.valid || phonenumber.touched)">
                                        <small *ngIf="phonenumber.errors.required" class="text-danger">Please enter phonenumber</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="state" [(ngModel)]="editedvalue.state" class="form-control input-underline input-lg" #state="ngModel" [class.is-invalid]="state.invalid && state.touched" required=""  placeholder="state">
                                    <div *ngIf="state.errors && (state.valid || state.touched)">
                                        <small *ngIf="state.errors.required" class="text-danger">Please enter state</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" [(ngModel)]="editedvalue.city" class="form-control input-underline input-lg" #city="ngModel" [class.is-invalid]="city.invalid && city.touched" required=""  placeholder="city">
                                    <div *ngIf="city.errors && (city.valid || city.touched)">
                                        <small *ngIf="city.errors.required" class="text-danger">Please enter city</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password" name="password" [(ngModel)]="editedvalue.password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" required="">
                                    <div *ngIf="password.errors && (password.valid || password.touched)">
                                        <small *ngIf="password.errors.required" class="text-danger">Please fill the password field</small>
                                    </div>
                                </div>
                              
                            </div>
                            <div class="form-group btngrp">
                                 <button class="btn rounded-btn"
                                 [disabled]="editform.invalid" (click)="editdatasubmit(editform)" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>