<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-4 offset-md-4">
                <div class="row justify-content-md-center mt-5">
                    <h4>USER LOGIN</h4>
                </div>
                <div class="card">
                    <div class="form text-center">
                        <form name="loginform" id="loginform" #loginform="ngForm" (ngSubmit)="loginform.valid" method="post" role="form">
                            <div class="form-content">
                                <div class="form-group">
                                    <input type="text" name="username" [(ngModel)]="registerData.username" class="form-control input-underline input-lg" #username="ngModel" [class.is-invalid]="username.invalid && username.touched" required=""  placeholder="Username">
                                    <div *ngIf="username.errors && (username.valid || username.touched)">
                                        <small *ngIf="username.errors.required" class="text-danger">Please enter Username</small>
                                        <small *ngIf="username.errors.pattern" class="text-danger">Please enter valid Username</small> 
                                    </div>
                                </div>
            
                                <div class="form-group">
                                    <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password" name="password" [(ngModel)]="registerData.password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" required="">
                                    <div *ngIf="password.errors && (password.valid || password.touched)">
                                        <small *ngIf="password.errors.required" class="text-danger">Please fill the password field</small>
                                    </div>
                                </div>
                              
                            </div>
                            <div class="form-group btngrp">
                                 <button id="sub" class="btn rounded-btn"
                                 [disabled]="loginform.invalid" (click)="registerSubmit(loginform)" type="submit">Log In</button>
                            </div>
                            <div class="form-group adminlogin">
                                <a routerLink = '/admin_login' id="adm">Admin Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>