form{
    padding: 10px;
    text-align: left;
}
.dis_grid{
    display: grid;
}
button{
    background: gainsboro;
    border: 1px solid gainsboro;
    color: currentcolor;
    padding: 6px 14px;
    border-radius: 10px;
}
.btngrp{
    text-align: center;
}
.adminlogin{
    text-align: right;
}